* {
    margin: 0;
    padding: 0%;
    font-family: 'Anek Malayalam', sans-serif;
}

body {
    background: rgb(69,94,140);
    background: radial-gradient(circle, rgb(156, 168, 190) 5%, rgb(75, 85, 114) 100%);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    align-items: center;
    justify-items: center;
}

.calBody {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.359);
    padding: 10px;
    background-color: lightgray;
    width: 800px;
    height: max-content;
    display: inline-block;
    font-weight: bold;
    
}

.month {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 3rem;
    font-weight: bolder;
    
}

 i {
    color: rgb(12, 14, 41);
    font-weight: bold;
}

i:hover {
    
    transform: scale(1.5);
    cursor: pointer;
    text-shadow:black 2px 5px 5px;
    transition: 100ms;
    
}

#days>p {
    font-size: 2rem;
    color: rgb(12, 14, 41);
    width:50px;  
    height: 50px;
    text-shadow:white 2px 5px 5px;    
}

.year {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 2rem;
   
}



.dayContainer {
    color: rgb(12, 14, 41);
    font-weight: bold;
    text-shadow: 5px 5px 5px 5px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    margin-top: 5px;
    background-color: rgba(44, 47, 101, 0.171);
    box-shadow: 0px 1px 10px 2px rgba(65, 57, 111, 0.307);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.dayName {
    padding: 5px;
    font-weight: bold;
}

#days {
    justify-content: center;
    text-align: center;
    grid-gap: 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

 div.days > p {
    border: solid black 2px;
    color: red;
}

#month {
    color: rgb(12, 14, 41);
    font-weight: bold;
}

#year {
    color: rgb(12, 14, 41);
}

.daysgen {
    
    width: 100%;
    height: 100%;
    padding: 0px 25px 25px 0px
}

.dayGenerated {
   
   cursor: pointer;
    width: 100%;
    padding: 0px 25px 25px 0px
}



.dayGenerated:hover {
    transform: scale(1.5);
}

#datepick {
   font-size: 2rem;
   font-weight: bold;
}


